/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Begin CSS for website */


*{
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    overflow: hidden
}

/* Text styles */


body {
    font-family: 'Work Sans', sans-serif;
    color: white;
   }
   
   h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
   }

h1 {
    font-size: 3em;
    margin: 10x 0px;
}

h2 {
    font-size: 2.5em;
    margin: 10px 0px;
}

h3 {
    font-size: 3.17em;
    margin: 10px 0px;
}

p {
    font-size: 22px;
    margin: 10px 0px;
}

/* content element styles */

section {
    padding: 1em;
    width: 100%;
    height:50vh;
    border-top: 2px solid white;
    background-color: blue;
    display: flex;
    width: 100%;
    flex-direction: row no-wrap;
    align-items: center; 
    align-content: center;
}

section#contact{
    flex-direction: column;
    align-items: center;
    align-content: center;
}

footer{
    width: 100%;
    height: 20vh;
    border-top: black;
    background-color: white;
}


/* Navbar & header styles */
#nav-bar {
 background-color: White;
 display: flex;
 align-items:center;
 justify-content: space-around;
 padding: 5px;
 height: 100px;
 width: 100%;
 position: fixed;
 top: 0;
 left:0;
 z-index: 2;
}

.nav-group{
    padding: 1em;
}

#header-img {
    max-height: 50%;
  }
  
  #nav-bar a {
    color: black;
    padding: 5px;
    font-size: 22px;
    text-decoration: none;
  }

/* Home section styles */

section#home > div {
    margin: 0% auto;
}

img.hero-img{
    margin-top: 25px;
    height: 400px;
    max-height: 50%;
    animation: rotate 5s infinite ease-out;
    padding: 20px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}


div.contact-button{
    margin-top: 60px;
}
a.btn{
    margin-top: 30px;
    background-color: gold;
    padding: 15px;
    color: whitesmoke;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    background-size: 200% 100%;
    background-image: linear-gradient(to left, gold 50%, white 50%);
    background-position: right bottom;
    transition: all .75s ease-out;
}



a.btn:hover{
    color: black;
    background-position: 0 -100%;
}


/* Contact section styles */

div.contact-form{
    padding: 5%;
    position: absolute;
    background-color: wheat;
    margin: 50px auto;
}

#form{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

input{
    border-style: none;
    border-bottom: 2px solid black;
    margin: 10px;
    padding: 5px;
    width: 250px;
}

input:focus {
    background-color: yellow;
}


/* media queries */

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }